@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1 class="display-4">Mockups</h1>
        <ul>
            <li>
                <a asp-controller="My" asp-action="QuizView"> Quiz </a>
            </li>
            <li>
                <a asp-controller="My" asp-action="AnswerView"> QuizResult </a>
            </li>
        </ul>
      
    </div>
